<div class="container my-5">
    <h1 class="mb-3">Receitas</h1>

    <table class="table" *ngIf="receitas && receitas.length > 0">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let receitas of receitas">
                <td>{{ receitas.descricao}}</td>
                <td>R$ {{ receitas.valor}}</td>
                <td>{{ receitas.data}}</td>
                <td><a [routerLink]="['/receitas', 'edit', receitas.id]">Editar</a></td>

            </tr>
        </tbody>
    </table>
    <p *ngIf="!receitas || receitas.length <= 0">Nenhuma receita cadastrada</p>
</div>